<!-- <h1> My Loop </h1>
{%for new_number in numbers%}
<h3> Your number is: {{new_number}} </h3>
{% endfor %} -->
<!-- my_variables = {"numbers" : [9,5,5,10]} -->





<!DOCTYPE html>
<html>
  <head> <h1>Pig Latin App</h1>
    <meta charset="utf-8">
    <title> Let's learn Pig Latin </title>
  </head>
  <br></br>
  <body>
    <h1> Put the word you want to translate below! </h1>
    <form method= post>
      <input type="text" name="user_word">
      <input type="submit" value="Let's Go!">
    </form>
    <h2>{{translated_word}}</h2>
  </body>
</html>
